<%- include('./partials/header')%>
    <section class="baner_section">
        <div class="baner"></div>
        <div class="baner_box container-pagina" >
        <h3 class="baner_titulo">Nuevos Ingresos</h3>
        <h6 class="baner_descripcion">Descubri el proximo Funko Pop de tu coleccion</h6>
        <a class="boton-blanco" href='/shop'>SHOP</a>
        </div>
    </section>    
    <main class="container-pagina">
        <section class="descripcion">
            <% licences.forEach( licence => { %> 
                <div class="container_contenido" >
                    <div>
                        <H2><%= licence.licence_name %></H2>
                        <h5><%= licence.licence_description %></h5>
                        <hr>
                        <a class="boton-redondo" href='/shop'>Ver Coleccion</a> 
                        <!-- la url del boton debe ir al shop/serach?licence_name para que directamente cuando cargue lo haga los datos de la licencia -->
                    </div>
                    <img class="licence-image" src="<%= licence.licence_image %>" alt="">    
                </div>
              <% }) %>
        </section>
        <section>
            <h1>ULTIMOS LANZAMIENTOS</h1>
            <%- include('./partials/cards')%> 
        </section>
    </main>
    <%- include('./partials/footer')%>