<%- include('../partials/header')%>
    <main class="container-pagina">
    <section class="container_item">
        <div class="container_item_image">
            <img class="image_front" src="<%= item.image_front %>" alt="">
            <img class="image_back" src="<%= item.image_back %>" alt="">
        </div>
        <div>
            <h3><%= item.licence_name %></h3>
            <p><%= item.product_description %></p>
            <p class="item_precio"><%= item.price %></p>
            <div>
                <button class="boton-item boton-menos" >-</button>
                <input class="item_input" type="text" placeholder="0" value="">
                <button class="boton-item boton-mas" >+</button>
                <button class="boton-standar margin-left">Agregar al Carrito</button>
            </div>
            <div class="item_metodosPago">
                <a href="">Ver metodos de pago</a>
                <% if (item.dues){ %>
                <p>- <%= item.dues %> CUOTAS SIN INTERÉS</p>
                <% } %>
            </div>
        </div>
    </section>
    <!-- Seccion a arreglar  -->
    <h2 class="titulo_pag centrar-izquierda" >Productos relacionados</h2>
    <%- include('../partials/cards')%>
</main>
<script src="/js/item.js"></script>
<%- include('../partials/footer')%>