<%- include('../partials/header')%>
    <main class="container-pagina container_tienda">
        <aside class="container_aside">
            <div class="filter_buscador">
                <h2 class="filter_titulo" >BUSCAR</h2>
                <input class="buscador_input filter_buscador_size" type="text" placeholder="item o categoria">
            </div>
            <div class="filter_buscador">
                <h2 class="filter_titulo" >ORDENAR POR</h2>
                <select  name="" id="">
                    <option value="">Mayor a Menor</option>
                    <option value="">Menor a Mayor</option>
                </select>
            </div>
            <div class="filter_buscador" >
                <h2 class="filter_titulo" >PRECIO</h2>
                <div class="filter_precio">
                    <label for="precio_min">MIN</label>
                    <input class="size_precio" type="text" name="" id="precio_min" placeholder="0.0">
                    <p>-</p>
                    <label for="precio_max">MAX</label>
                    <input class="size_precio" type="text" name="" id="precio_max" placeholder="0.0">
                </div>
            </div>
            <div class="filter_buscador">
                <h2 class="filter_titulo" >FILTRAR</h2>
                <div>
                    <input class="filter_checkBox" type="checkbox" name="" id="filtro_nuevos"></input>
                    <label for="filtro_nuevos">NUEVOS</label>
                </div>
                <div>
                    <input class="filter_checkBox" type="checkbox" name="" id="filtro_ofertas"></input>
                    <label for="filtro_ofertas">OFERTAS</label>
                </div>
                <div>
                    <input class="filter_checkBox" type="checkbox" name="" id="filtro_edicionEspecial"></input>
                    <label for="filtro_edicionEspecial">EDICION ESPECIAL</label>
                </div>
                <div>
                    <input class="filter_checkBox" type="checkbox" name="" id="filtro_favoritos"></input>
                    <label for="filtro_favoritos">FAVORITOS</label>
                </div>
            </div>
        </aside> 
        <section>
            <ul class="item_container">
                <% items.forEach( item => { %>
                <li class="item_container_card">
                    <a class="item_container_card_link" href="/shop/item/<%= item.product_id %>">
                        <img class="item_container_img" src='<%=item.image_front%>' alt="">
                        <div class="item_container_card_info">
                            <h6 class="item_categoria" ><%= item.licence_name %></h6>
                            <h5 class="item_titulo" ><%= item.product_name %></h5>
                            <h6 class="item_precio"><%= item.price %></h6>
                            <% if (item.dues){ %>
                            <h6 class="item_cuotas" ><%= item.dues %> Cuotas</h6>
                            <% } %>
                        </div>
                    </a>
                </li>
                <% }) %>
            </ul>
            <!-- fin de iteraccion -->
        </section>
    </main>
<%- include('../partials/footer')%>