
<%- include('../partials/header')%>

    <main class="container-pagina">  <!-- class="container-1600" -->
        <section class="buscador">
            <svg class="buscador_icono" role="img">
                <use class="icon_search" xlink:href="/icons/icons.svg#search" alt="lupa"></use>
            </svg>
            <input class="buscador_input" type="text" placeholder="codigo, nombre o categoria">
        </section>
        <section class="list_cabecera">
                <h2 class="titulo_pag">LISTADO DE PRODUCTOS</h2>
                <a class="list_cabecera_link" href="/admin/create">
                    <p class="list_cabecera_agregar">AGREGAR</p>
                    <p class="list_cabecera_mas">+</p>
                </a>
        </section>
        <section class="list_container">
                <div class="list_item_cabecera">
                        <p class="list_id" >ID</p>
                        <p>Codigo</p>
                        <p>Nombre del Producto</p>
                        <p>Categoria</p>           
                </div>
                <ul class="list_container_ul">
                    <% items.forEach(item => { %>
                    <li class="list_item">
                        <p class="list_id"><%= item.product_id %></p>
                        <p class="list_codigo"><%= item.sku %></p>
                        <p class="list_nombre"><%= item.product_name %></p>
                        <p class="list_categoria"><%= item.category_name %></p> 
                        <div class="list_div_icono">          
                            <a href="/admin/edit/<%= item.product_id %>">
                                <svg class="icono icono_lapiz" role="img">  
                                    <use xlink:href="/icons/icons.svg#pencil" alt="lapiz"></use>     
                                </svg>
                            </a>
                            <form action="/admin/delete/<%= item.product_id %>" method="POST"> 
                                <button input class="boton-delete" type="submit">
                                    <svg class="icono icono_papelera" role="img">
                                        <use xlink:href="/icons/icons.svg#trash" alt="papelera"></use>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </li>
                    <% }) %>
                </ul>
        </section>
    </main>
    <script src="/js/buscador.js"></script>	  <!-- Script para el buscador -->
<%- include('../partials/footer')%>