<%- include('../partials/header')%>
    <main class="container-pagina">
        <h2 class="titulo_pag"><%= view.title %></h2>
        <form action="<%= formAction %>" method="POST" enctype="multipart/form-data">
            <div class="container-opciones">
                <div>
                    <label for="licencia">Licencia:</label>
                    <select name="licence_id" id="licencia">
                        <% if(item.licence_id == null){ %> 
                            <option value="" disabled hidden selected>-- Seleccionar --</option> 
                        <% } %>    
                        <% licence.forEach(licencia => { %>
                            <option <% if(licencia.licence_id == item.licence_id){ %> selected <% } %> value="<%= licencia.licence_id %>"><%= licencia.licence_name %></option> 
                        <% }) %>
                    </select>
                </div>
                <div>
                    <label for="categoria">categoría:</label>
                    <select autocomplete="off" name="category_id" id="categoria">
                        <% if(item.category_id == null){ %> 
                            <option value="" disabled hidden selected>-- Seleccionar --</option> 
                        <% } %> 
                        <% category.forEach(categoria => { %>
                            <option <% if(categoria.category_id == item.category_id){ %> selected <% } %> value="<%= categoria.category_id %>"><%= categoria.category_name %></option> 
                        <% }) %>
                    </select>
                </div>
            </div>
            <div>
                <label for="producto">Nombre del producto:</label>
                <input class="size-nombre" placeholder="Nombre" type="text" name="product_name" id="producto" value="<%= item.product_name %>">
            </div>
            <textarea name="product_description" id="detalles" cols="30" rows="10" placeholder="Descripcion..."><%= item.product_description %></textarea>
            <div>
                <label for="sku">SKU:</label>
                <input class="size-sku" placeholder="SSKK111AB001" type="text" name="sku" id="sku" value="<%= item.sku %>">
                <label for="precio">Precio:</label>
                <input class="size-precio" placeholder="0000.00" type="text" name="price" id="precio" value="<%= item.price %>">
                <label for="stock">Stock:</label>
                <input class="size-stock" placeholder="0" type="text" name="stock" id="stock" value="<%= item.stock %>">
            </div>
            <div>
                <label for="descuento">Descuento:</label>
                <input class="size-descuento"  placeholder="0" type="number" name="discount" id="discount" value="<%= item.discount %>" min="0" max="100"><spam class="porcentaje">%</spam>
                <label for="cuotas">Cuotas:</label>
                <select name="dues" id="cuotas">
                    <option value="" disabled hidden selected>-- Seleccionar --</option>
                    <option value="3">3 Cuotas</option>
                    <option value="6">6 Cuotas</option>
                    <option value="12">12 Cuotas</option>
                    <option value="24">24 Cuotas</option>
                </select>
            </div>
            <div class="flex-box" id="evnt-carga">
                <div class="img-box">
                    <label for="imagenes">Imágen Delantera:</label>
                    <img class="imagen" src= "<%= item.image_front %>" alt="">
                    <span class="img-nombre"></span>
                    <input class="selectorDeImagenes" type="file" name="imagenDelantera">
                </div>
                <div class="img-box">
                    <label for="imagenes">Imágen Trasera:</label>
                    <img class="imagen" src= "<%= item.image_back %>" alt="">             
                    <span class="img-nombre"></span>
                    <input class="selectorDeImagenes" type="file" name="imagenTrasera"> 
                </div>
            </div>
            <div>
                <input class="boton-standar" type="submit" value="Agregar Producto">
                <button class="boton-standar" >Limpiar</button>
            </div>
        </form>    
    </main>
    <script src="/js/fotoLoad.js"></script>	  <!-- Script para la foto -->
<%- include('../partials/footer')%>